<div class="rounded-full border-1 f-x-lighter-black border-b-font-x-lighter-black dark:f-x-darker-light dark:border-b-font-x-darker-light backdrop-blur-2xl pl-1.5 pr-1.5 mr-2">
    <span class="font-light fs-xx-small f-lighter-black dark:f-darker-light whitespace-nowrap">
        <%=data.tag%>
    </span>
</div>