<div class="rounded-full border-1 text-font-x-lighter-black border-b-font-x-lighter-black dark:text-font-x-darker-light dark:border-b-font-x-darker-light backdrop-blur-2xl pl-1.5 pr-1.5 mr-2">
    <span class="font-light fs-xx-small text-font-lighter-black dark:text-font-darker-light whitespace-nowrap">
        <%= data.tag %>
    </span>
</div>