.fs-xxx-large {
    font-size: xxx-large;
}

.fs-xx-large {
    font-size: xx-large;
}

.fs-x-large {
    font-size: x-large;
}

.fs-large {
    font-size: large;
}

.fs-larger {
    font-size: larger;
}

.fs-medium {
    font-size: medium;
}

.fs-small {
    font-size: small;
}

.fs-smaller {
    font-size: smaller;
}

.fs-x-small {
    font-size: x-small;
}

.fs-xx-small {
    font-size: xx-small;
}

@media (min-width: 768px) {
    .md\:fs-xxx-large {
        font-size: xxx-large;
    }

    .md\:fs-xx-large {
        font-size: xx-large;
    }

    .md\:fs-x-large {
        font-size: x-large;
    }

    .md\:fs-large {
        font-size: large;
    }

    .md\:fs-larger {
        font-size: larger;
    }

    .md\:fs-medium {
        font-size: medium;
    }

    .md\:fs-small {
        font-size: small;
    }

    .md\:fs-smaller {
        font-size: smaller;
    }

    .md\:fs-x-small {
        font-size: x-small;
    }

    .md\:fs-xx-small {
        font-size: xx-small;
    }
}