<head>
    <meta charset="UTF-8">
    <title><%= page.title; %></title>
    <%- include("head/scripts.ejs") %>
    <%- include("head/style.ejs") %>

    <%- include("head/seo.ejs", {page}) %>

</head>