<!DOCTYPE html>
<html lang="zh">
<head>
    <%- include("./_partials/head.ejs", {page}) %>
</head>
<body class="bg-background-light-10 dark:bg-background-dark-80">
<header>
    <%- include("./_partials/header/navbar.ejs", {navbar}) %>
</header>
<main>
    <div class="h-container w-container">
        <div class="board mb-4">
            <h1 class="fs-xx-large font-bold mb-4">
                404 Error
            </h1>
            <p class="mt-6 mb-6">
                你看起来像是走错地方了。
            </p>
        </div>
    </div>
</main>
<footer>
    <%- include("./_partials/footer.ejs") %>
</footer>
    <%- include("./_partials/init.ejs", {page}) %>
</body>
</html>