<html lang="zh">
<%- include("./_partials/head.ejs", {page}) %>
<body class="bg-background-light-10 dark:bg-background-dark-80">
<header>
    <%- include("./_partials/header/navbar.ejs") %>
</header>
</body>
</html>