<div id="banner" class="w-full h-full-w md:h-2/5-w bg-primary-800 dark:bg-background-dark-90 m-auto flex-center">
    <div class="fs-x-large md:fs-xxx-large text-font-black dark:text-font-light text-center">
            I promise. Here will be something.
    </div>
</div>