<div id="banner" class="w-full h-full-w md:h-2/5-w m-auto flex-center">
    <div id="banner-text" class="fs-x-large md:fs-xxx-large text-font-black dark:text-font-light text-center">

    </div>
</div>
<script>
    renderBanner()
</script>