<div id="navbar" class="w-full h-16 bg-primary-600 dark:bg-primary-dark-900 shadow-lg">
    <div class="w-container">
        <div class="flex justify-space-between flex-nowrap center">
            <div id="navbar-logo">
                <a href="/" class="flex flex-nowrap center">
                    <img src="/static/img/logo.svg" alt="Aquarium logo" class="h-full dark:font-black">
                    <span class="ml-2 font-extrabold">Aquarium</span>
                </a>
            </div>
            <div id="navbar-menu" class="ml-auto">
                <div class="pt-4 pb-4 center flex flex-nowrap ">
                    <div id="navbar-searchbox"
                         class="rounded-full border-2 border-b-background-dark-80 dark:border-b-background-light-0 backdrop-blur-2xl p-1 w-56 h-8 mr-5 flex flex-nowrap">
                        <button class="button-none icon icon-search h-5 w-5 mb-1 mr-1.5"></button>
                        <label for="search"></label>
                        <input
                                type="text"
                                id="search"
                                class="input-none w-auto"
                                autocomplete="off"
                        >
                    </div>
                    <div id="navbar-github" class="mr-5">
                        <a href="https://github.com/Bluemangoo/Aquarium" target="_blank">
                            <div class="icon icon-github h-6 w-6"></div>
                        </a>
                    </div>
                    <div id="navbar-settings" class="">
                        <a href="/settings" target="_self">
                            <div class="icon icon-settings h-7 w-7"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
