@media (prefers-color-scheme: dark) {
    .icon-download {
        background-image: url("/static/img/dark/download.svg");
    }

    .icon-empty {
        background-image: url("/static/img/dark/empty.svg");
    }

    .icon-github {
        background-image: url("/static/img/dark/github.svg");
    }

    .icon-menu {
        background-image: url("/static/img/dark/menu.svg");
    }

    .icon-search {
        background-image: url("/static/img/dark/search.svg");
    }

    .icon-settings {
        background-image: url("/static/img/dark/settings.svg");
    }
}