.icon-download {
    background-image: url("/static/img/light/download.svg");
}

.icon-empty {
    background-image: url("/static/img/light/empty.svg");
}

.icon-github {
    background-image: url("/static/img/light/github.svg");
}

.icon-menu {
    background-image: url("/static/img/light/menu.svg");
}

.icon-search {
    background-image: url("/static/img/light/search.svg");
}

.icon-settings {
    background-image: url("/static/img/light/settings.svg");
}